body{
    margin: 0;
    padding: 0;
    background-image: url(../Pré-história/imagens/cave-paintig-490205_960_720.jpg);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Path: Pré-história\prehist.css */






